<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>

    <h2>ESTAMOS EN EL INDEX</h2>
    
    <img src="/images/una-taza-de-javascript.png" width="200">
</body>


</html>